.progress-bar_ui-design::before {
  content: '';
  background-color: #C66C49;
  height: 24px;
  width: 351px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .progress-bar_ui-design::before {
    height: 33px;
  }
}

@media screen and (max-width: 600px) {
  .progress-bar_ui-design::before {
    height: 50px;
    width: 455px;
  }
}
