.hero__title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    align-items: center;
    color: #FFFFFF;
    margin-top: 140px;
    margin-left: 165px;
  }
