.hero__title {
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 4.875rem;
    align-items: center;
    color: #FFFFFF;
    margin-top: 8.75rem;
    margin-left: 10.3125rem;
  }
