.about__text {
    margin-left: 10.3125rem;
    max-width: 69.1875rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.185rem;
    text-align: justify;
    color: #333333;
  }
