.cell-description {
  list-style-type: none;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: normal;
  padding-bottom: 1.25rem;
}

.cell-description:first-of-type {
  padding-bottom: 4.0625rem;
}

.cell-description:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .cell-description {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .cell-description {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
