.hero__works {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    margin-top: 106px;
    margin-left: 165px;
    display: block;
  }
