.portfolio__images {
  width: 57%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 75px);
  grid-gap: 30px;
}

@media screen and (max-width: 1252px) {
  .portfolio__images {
    width: 62%;
    grid-template-rows: repeat(5, 70px);
  }
}

@media screen and (max-width: 1052px) {
  .portfolio__images {
    width: 85%;
    grid-template-rows: repeat(5, 80px);
  }
}
