.hero__menu-link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-right: 59px;
    vertical-align: top;
  }
